@import '../variables';

.Contact {
  padding: 2rem 3rem;
  line-height: 1.5;
  width: 100%;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    input,
    button,
    textarea {
      margin-bottom: 0.5rem;
    }
  }

  .message {
    border-bottom: 1px solid rgba($dark, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 5px;
    background: rgba($primary, 0.03);
    margin-bottom: 0.5rem;
    position: relative;

    p {
      padding: 0.5rem;
      border-radius: 5px;
      background: rgba($primary, 0.05);
      margin-top: 0.3rem;
    }

    small {
      position: absolute;
      right: 1rem;
      top: 1rem;
      opacity: 0.5;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
